#header-img {
    background: url('/r/images/header/header.jpg') no-repeat;
    background-size: 100% 61.8%;
}
#header {
    width: 100%;
    height: 61.8%;
}
#header-one {
    width: 100%;
    height: 6.8%;
}
#div-header-image {
    width: 5%;
    height: 100%;
    border-right: solid snow 1px;
    float: left;
}
#header-slimage {
    width: 100%;
    height: 100%;
}
#div-logo-image {
    width: 5%;
    height: 100%;
    float: left;
}
#header-logo {
    width: 100%;
    height: 100%;
}
#div-name {
    width: 5%;
    height: 100%;
    color: white;
    float: left;
    vertical-align:middle;
}